/*
Pre-Requisite
*/


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



/*
Colors
*/


:root {
	--Dark-cyan: hsl(185, 75%, 39%);
	--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--Dark-grayish-blue: hsl(227, 10%, 46%);
	--Dark-gray: hsl(0, 0%, 59%);
}



.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {color: hsl(228, 45%, 44%);
}



body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 100vw;
	height: calc(100vh - 3px);
	background: url(./images/bg-pattern-top.svg) left -350px top -550px no-repeat, url(./images/bg-pattern-bottom.svg) right -270px bottom -650px no-repeat;
	background-color: var(--Dark-cyan);
	font-family: 'Kumbh Sans', sans-serif;
}


.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 320px;
	height: 60vh;
	background-color: #f0f0f0;
	border-radius: 10px;
}

.blank-section {
	width: 100%;
	height: 150px;
	background-image: url(./images/bg-pattern-card.svg);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}


.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding-bottom: 30px;
}


.main-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
}

.main-info img {
	width: 95px;
	margin-top: -50px;
	border-radius: 50%;
	border: solid 5px #f0f0f0;
}

.main-info div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 12px
}

.main-info span:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.main-info .name {
	font-weight: bolder;
	font-size: 20px;
}

.main-info .age {
	color: var(--Dark-gray);
	font-weight: bold;
	font-size: 21px;
}

.main-info .location {
	text-align: center;
	color: var(--Dark-gray);
	font-size: 14px;
}

hr {
	color: #000;
	width: 	100%;
	height: 3px;
}


.stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 30px;
}


.stats .figure {
	font-size: 19px;
	font-weight: bolder;
}

.stats .text {
	font-size: 12px;
	color: var(--Dark-gray);
	letter-spacing: 1.25px;
}

@media screen and (max-width: 700px) {
	body {
		background: url(./images/bg-pattern-top.svg) left -750px top -660px no-repeat, url(./images/bg-pattern-bottom.svg) right -750px bottom -600px no-repeat;
		background-color: var(--Dark-cyan);
	}
}


@media screen and (max-width: 370px) {
	.card {
		max-width: 300px;
		margin: 0 1.25rem;
	}
}

@media screen and (max-width: 300px) {
	.card {
		max-width: 270px;
	}
}